@page "/SellerPage"
@inject HttpClient http;
@inject SellerPageRepository selllerPageRepository;
@using Data;
@using Services;


<h2 class="text-center font-weight-bold">@sellerpage1.Name</h2>
<h3 class ="text-center font-weight-normal">@sellerpage1.Description </h3>

<div class="d-flex flex-wrap">
    @if (sellerpage1.SellerPageProducts != null)
    {
        @foreach (var sellerpageProduct in sellerpage1.SellerPageProducts)
        {
            <div class="card d-flex">
                <img src="@sellerpageProduct.product.image"/>
                <div class="card-body">
                    <h4 class="card-title">@sellerpageProduct.product.Name</h4>
                    <p class="card-text">@sellerpageProduct.Price</p>
                    <p class="card-text">@sellerpageProduct.Stock</p>
                    <a href="/editsellerpageproduct?id=@sellerpageProduct.ProductID">Edit</a>
                </div>
            </div>
        }
    }
</div>
@code {

    SellerPage sellerpage1 = new SellerPage();

    protected override async Task OnInitializedAsync()
    {
        sellerpage1 = await selllerPageRepository.GetSellerPageByUserId(1);
    }
}